<div class="status">
    <p>My Status</p>
    <div class="statusItems alignItems">
        <div class="away">
            <img height="15" width="30" src="assets/collection/leaf.svg" /> Student
        </div>
    </div>
</div>

<style>
    .status {
        margin-top: 50px;
    }

    .status>p {
        font-size: 12px;
    }

    .statusItems {
        justify-content: space-evenly;
    }

    .away {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--color-two);
        border-radius: 30px;
        padding: 10px 15px;
        color: #fff;
        font-size: 12px;
    }

    .atWork {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--color-four);
        border-radius: 30px;
        padding: 10px 15px;
        color: #fff;
        font-size: 12px;
        opacity: 50%;
    }

    .gaming {
        display: flex;
        align-items: center;
        gap: 5px;
        background: var(--color-four);
        border-radius: 30px;
        padding: 10px 15px;
        color: #fff;
        font-size: 12px;
        opacity: 50%;
    }
</style>