body {
  margin: 0;
  padding: 0;
  background-color: black; /* Fond noir */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* 100% de la hauteur de la vue */
}

.container {
  text-align: center;
}

p {
  color: white; /* Texte en blanc */
  font-size: 36px; /* Taille de la police */
  font-weight: bold; /* Gras */
}
