<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Mega Dropdown | CodyHouse</title>
</head>

<body>
	<header>
		<div class="cd-dropdown-wrapper">
			<a class="cd-dropdown-trigger" href="#0">More</a>
			<nav class="cd-dropdown">
				<h2>Title</h2>
				<a href="#0" class="cd-close">Close</a>
				<ul class="cd-dropdown-content">
					<li>
						<form class="cd-search">
							<input type="search" placeholder="Search...">
						</form>
					</li>
					<li class="has-children">
						<a href="http://codyhouse.co/?p=748">Projects</a>

						<ul class="cd-secondary-dropdown is-hidden">
							<li class="go-back"><a href="#0">Menu</a></li>
							<li class="see-all"><a href="http://codyhouse.co/?p=748">All Projects</a></li>

							<li class="has-children">
								<a href="http://codyhouse.co/?p=748">General projects</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">Projects</a></li>
									<li class="see-all"><a href="http://codyhouse.co/?p=748">All General Projects </a></li>
									<li><a href="http://codyhouse.co/?p=748">A</a></li>
									<li><a href="http://codyhouse.co/?p=748">B</a></li>
									<li><a href="http://codyhouse.co/?p=748">C</a></li>
									<li><a href="http://codyhouse.co/?p=748">D</a></li>
									<li><a href="http://codyhouse.co/?p=748">E</a></li>
									<li><a href="http://codyhouse.co/?p=748">F</a></li>
								</ul>
							</li>

							<li class="has-children">
								<a href="http://codyhouse.co/?p=748">Completed projects</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">Projects</a></li>
									<li class="see-all"><a href="http://codyhouse.co/?p=748">All Completed Projects</a></li>
									<li><a href="http://codyhouse.co/?p=748">G</a></li>
									<li><a href="http://codyhouse.co/?p=748">H</a></li>
									<li><a href="http://codyhouse.co/?p=748">I</a></li>
									<li><a href="http://codyhouse.co/?p=748">J</a></li>
									<li><a href="http://codyhouse.co/?p=748">K</a></li>
									<li><a href="http://codyhouse.co/?p=748">L</a></li>
								</ul>
							</li>

						</ul> <!-- .cd-secondary-dropdown -->
					</li> <!-- .has-children -->

					<li class="has-children">
						<a href="http://codyhouse.co/?p=748">Social Networks</a>
						<ul class="cd-dropdown-icons is-hidden">
							<li class="go-back"><a href="#0">Menu</a></li>
							<li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Services</a></li>
							<li>
								<a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
									<h3>Service #1</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
									<h3>Service #2</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">
									<h3>Service #3</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">
									<h3>Service #4</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">
									<h3>Service #5</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">
									<h3>Service #6</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">
									<h3>Service #7</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-8" href="http://codyhouse.co/?p=748">
									<h3>Service #8</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-9" href="http://codyhouse.co/?p=748">
									<h3>Service #9</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-10" href="http://codyhouse.co/?p=748">
									<h3>Service #10</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">
									<h3>Service #11</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">
									<h3>Service #12</h3>
									<p>This is the item description</p>
								</a>
							</li>
							<li>
								<a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">
									<h3>Service #11</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">
									<h3>Service #12</h3>
									<p>This is the item description</p>
								</a>
							</li>

						</ul> <!-- .cd-dropdown-icons -->
					</li> <!-- .has-children -->

					<li class="cd-divider">Divider</li>

					<li><a href="http://codyhouse.co/?p=748">Page 1</a></li>
					<li><a href="http://codyhouse.co/?p=748">Page 2</a></li>
					<li><a href="http://codyhouse.co/?p=748">Page 3</a></li>
				</ul> <!-- .cd-dropdown-content -->
			</nav> <!-- .cd-dropdown -->
		</div> <!-- .cd-dropdown-wrapper -->
	</header>

	<main class="cd-main-content">
		<!-- your content here -->
	</main>

	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/jquery.menu-aim.js"></script> <!-- menu aim -->
	<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>

</html>